<div class="title-holder">
  <h1>My boards</h1>
</div>
<div class="row text-center" *ngIf="user && user.boards">
  <div
    class="col-md-4 col-sm-6"
    *ngFor="let board of user.boards; let i = index"
  >
    <mat-card
      (click)="navigateToBoard(board.boardDetailRef)"
      *ngIf="boards[i]"
      >{{ boards[i].boardName }}</mat-card
    >
  </div>
  <div class="col-md-4 col-sm-6">
    <button
      (click)="addBoard()"
      color="primary"
      class="w-100 h-100"
      mat-stroked-button
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
